@page {
    margin: 10mm 10mm;
}

html {
    padding: 0 0;
}

body {
    width: 100%;
    /*margin-top: 23mm;*/
    margin-top: 15.5mm;
    /*border: #5a6268 0.4mm solid;*/
    font-family: 'Helvetica';
    font-size: 2.5mm;
    /*margin: 0.5cm 0;*/
    text-align: justify;
}

/*table tr th, table tr td {*/
/*font-size: 3.4mm !important;*/
/*}*/

/** HEAD OF THE HEAR **/

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    height: 35mm;
}

/*header {*/
/*position: fixed;*/
/*left: 0;*/
/*top: 0;*/
/*right: 0;*/
/*height: 30mm;*/
/*text-align: center;*/
/*margin-top: 1.5mm;*/
/*!*background-color: #17a2b8;*!*/
/*}*/

header div.logo {
    text-align: left;
    margin-left: 1.8mm;
}

header div.logo img {
    height: 25mm;
}

header div:nth-child(2) {
    margin: 0 auto;
    text-align: center;
    padding-top: 1mm;
    /*background-color: #1c7430;*/
}

.texto-cabecera {
    text-align: right !important;
    margin-right: 1.9mm;
    top: 0 !important;
}

/** BODY OF THE HEAR **/
main {
    top: 20mm;
    position: relative !important;
    margin-bottom: 90px;
}

div.tabla-1 {
    /*display: table-caption !important;*/
}

div.tabla-1 table {
    width: 100%;
}

/** FOOTER **/

footer {
    position: fixed;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
}

/*footer {*/
/*    position: fixed !important;*/
/*    bottom: 30px;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: auto;*/
/*    height: 10px;*/
/*    !*line-height: 35px;*!*/
/*    !*background-color: #1c7430 !important;*!*/
/*}*/

.footer_2 {
    margin-top: 0;
}

.footer_2 table {
    width: 100%;
}

.footer_image {
    text-align: left !important;
    padding-left: 20px !important;
}

.footer_image img {
    height: 9mm;
}

div.table_body .table_foot tfoot tr > td:first-child {
    font-size: 3mm;
    font-weight: lighter;
}

div.table_body .table_foot tfoot:nth-child(2) tr > td {
    font-size: 2.6mm !important;
    font-weight: lighter;
    /*background-color: #ffe8a1;*/
}

/*CUSMTOM*/
.etiquetaP p {
    font-size: 3.0mm;
    text-align: justify !important;
}

div.equix {
    display: block;
    text-wrap: avoid !important;
    padding: 0.5mm;
}

.p_actividades p {
    display: inline;
}

div.container {
    width: 100%;
    position: relative !important;
    /*padding: 0 !important;*/
}

.sop_economico figure,
.sop_economico figure.tabla {
    display: block;
}

.sop_economico p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/*div.container div {*/
/*    display: inline-block !important;*/
/*    position: initial !important;*/
/*    margin: 0 !important;*/
/*    font-size: 3.0mm;*/
/*}*/

/*div.container div:first-child {*/
/*    background: #71dd8a;*/
/*    !*width: 15% !important;*!*/
/*    !*height: fit-content;*!*/
/*    padding: 4px 5px !important;*/
/*    !*overflow: auto !important;*!*/
/*}*/

/*div.container div:nth-child(2) {*/
/*    background: #abdde5;*/
/*    !*width: 85% !important;*!*/
/*    !*height: fit-content;*!*/
/*    !*padding: 0 0 0 5px !important;*!*/
/*    padding: 4px 5px !important;*/
/*    !*overflow: auto !important;*!*/
/*    !*margin-left: 15%;*!*/
/*}*/

/*figure {*/
/*    padding: 0 !important;*/
/*    margin: 0 auto !important;*/
/*    font-size: 3mm !important;*/
/*    !*width: 83.36% !important;*!*/
/*}*/

figure.table table {
    border-collapse: collapse;
    border-spacing: 0;
}

figure.table td {
    border: 1px solid #000000;
    margin: 0 !important;
}

figure.table tr {
    margin: 0 !important;
    padding: 0 !important;
}

.tab_tarifas br {
    display: none !important;
}

.tab_tarifas p {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    padding: 0.5mm 0 0 0;
}

.tab_tarifas ul {
    width: 90%;
}

.tab_tarifas ul li {
    font-size: 3mm !important;
}

.tab_tarifas .table {
    /*margin-right: 0.5mm;*/
    /*margin-left: 0.1mm;*/
    width: 90%;
}

.tab_tarifas .table table {
    border-collapse: collapse !important;
    /*vertical-align: center !important;*/
    /*font-size: 3.0mm !important;*/
}

.tab_tarifas .table table thead tr th,
.tab_tarifas .table table tbody tr th,
.tab_tarifas .table table thead tr th,
.tab_tarifas .table table tbody tr td {
    border: .2mm solid #000 !important;
    font-size: 2.5mm !important;
}

.tab_tarifas .table table thead tr th,
.tab_tarifas .table table tbody tr td {
    text-align: center !important;
    vertical-align: middle !important;
}


.tab_tarifas .table table tbody tr th:nth-child(1n+1) {
    text-align: center !important;
}

/**ACTIVIDADES ESTUDIO PREVIO**/
div.p_actividades figure.table {
    width: 50%;
    display: block !important;
}

div.p_actividades figure.table table {
    border-collapse: collapse !important;
}

div.p_actividades figure.table thead tr th,
div.p_actividades figure.table tbody tr th,
div.p_actividades figure.table thead tr th,
div.p_actividades figure.table tbody tr td {
    border: .2mm solid #000 !important;
    font-size: 2.7mm !important;
}

div.p_actividades figure.table table thead tr th,
div.p_actividades figure.table table tbody tr td {
    text-align: center !important;
    vertical-align: middle !important;
}


/**TABLA RIESGOS ESTUDIO PREVIO**/

div.riesgo_est figure.table {
    width: 99.5%;
}

div.riesgo_est figure.table table {
    border-collapse: collapse !important;
}

div.riesgo_est figure.table thead tr th,
div.riesgo_est figure.table tbody tr th,
div.riesgo_est figure.table thead tr th,
div.riesgo_est figure.table tbody tr td {
    border: .2mm solid #000 !important;
    font-size: 2.5mm !important;
}

div.riesgo_est figure.table table thead tr th,
div.riesgo_est figure.table table tbody tr td {
    text-align: center !important;
    vertical-align: middle !important;
}

div.riesgo_est figure.table table tbody tr td:first-child,
div.riesgo_est .table table tbody tr td:nth-child(2) {
    text-align: justify !important;
}

td p {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

/*** OPTIONS CLASS ***/
.table-collapse {
    border-collapse: collapse;
    page-break-inside: avoid;
}

.celda {
    border: .2mm solid #000 !important;
}

.color_grey {
    background-color: rgba(88, 88, 88, 0.2);
}

.border_bottom {
    border-bottom: 0.2mm solid #000 !important;
}

.border_top {
    border-top: 0.2mm solid #000 !important;
}

.borde_derecho {
    border-right: 0.2mm solid #000 !important;
}

.borde_izquierdo {
    border-left: 0.2mm solid #000 !important;
}

.none_border_bottom {
    border-bottom: none !important;
}

.none_border_top {
    border-top: none !important;
}

.none_borde_izquierdo {
    border-left: none !important;
}

.none_borde_derecho {
    border-right: none !important;
}

.text_center {
    text-align: center !important;
}

.text_justify {
    text-align: justify !important;
}

.negrilla {
    font-weight: bolder !important;
}

.negrilla-2 {
    font-weight: bold !important;
}

.watermark {
    position: fixed;
    z-index: -1000;
    color: #a8aaa5;
    font-size: 35mm;
    font-weight: bold;
    top: 100mm;
    left: 0;
    transform: rotate(-45deg);
}


div.saltopagina {
    display: block;
    page-break-before: always;
}


/*plusFont {*/
/*padding: 8px 5px !important;*/
/*font-size: 3.4mm !important;*/
/*}*/
/*******************/